GOOGLE_ID = 1087252100703-4tk48hthe7rq1tm3hksc6rbo24mag5ov.apps.googleusercontent.com
GOOGLE_SECRET = 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

NEXTAUTH_URL = http://localhost:3000

NEXTAUTH_SECRET= sarman

DATABASE_URL="mongodb+srv://SochibBristy:SochibBristy@cluster0.0q0ko.mongodb.net/blog?retryWrites=true&w=majority"
FIREBASE="AIzaSyCRMM9nNvaGR9hGJHfoOLtf-3bn2XST8-k"